<div class="col-md-4 col-md-offset-4">
    <h3>Edit Goal</h3>
  <form action="/goals/<%=@goal.id%>/edit" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <div class="form-group ">
      <label for="name">Name Goal</label>
      <input type="text" class="form-control" name="name" id="name" value="<%=@goal.name%>">
    </div>

    <div class="form-group">
      <label for="comment">Describe Goal using S.M.A.R.T</label>
  <textarea class="form-control" rows="5" name="description" id="comment" value="<%=@goal.description%>"><%=@goal.description%></textarea>
    </div>


    <div class="form-group ">
      <label for="deadline">Set Deadline</label>
      <input type="date" class="form-control" name="deadline" id="deadline"
      value="<%=@goal.deadline%>" placeholder="Deadline">
    </div>


    <div class="form-group">
      <input class="btn btn-default" type="submit" value="Update">
  </div>
  </form>
</div>
